{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="quotes-container">
    <div class="quote-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Quote</button>
        </form>
    </div>
    <div class="quotes-list">
        {% for quote in quotes %}
        <div class="quote">
            <p>"{{ quote.text }}"</p>
            <p>- {{ quote.author }}</p>
            <a href="{% url 'delete_quote' quote.id %}">Delete</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}